<article class="panel panel-default">
    <div class="panel-body title">
        {{ coupon.title }}
    </div>
    <div class="panel-body">
        <div class="description">
            {{ coupon.description }}
        </div>
        <div class="thumb">
            <img src="{{coupon.barcode_img}}">
        </div>

    </div>
    <footer class="panel-footer">
        <div class="date">
            Expiration date: {{ coupon.exp_date.formatted }}
        </div>
        <div class="config">
            <a (click)="onEdit()">Edit</a>
            <a (click)="onDelete()">Delete</a>
        </div>
    </footer>
</article>