body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
a:hover,
a:active {
  color: #00B7FF;
  text-decoration: underline;
}

a.danger {
  color: red;
}

.spacing {
  margin-bottom: 20px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.logo {
  width: 30%;
  height: auto;
}

/*CATEGORIES*/
ul.categories-tag, ul.locations-tag {
  display: inline-flex;
  padding: 0;
}

.categories-tag li, .locations-tag li {
  list-style: none;
  margin: 15px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
}

.categories-tag li span {
  font-size: 1.1em;
}
div.categories-tag {
  padding: 0;

}

a.categories-tag-btn {
  padding: 0 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

/*LOCATIONS*/
.locations-tag input, .locations-tag div {
  margin: 5px 0;
}


[hidden] { display: none !important;}