<div class="con-md-8 col-md-offset-2">
    <form [formGroup]="businessForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="title">Business Name</label>
            <input
                    type="text"
                    id="title"
                    [ngModel]="business?.title"
                    class="form-control"
                    formControlName="title">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input
                    type="text"
                    id="email"
                    [ngModel]="business?.email"
                    class="form-control"
                    formControlName="email"
                    readonly>
        </div>
        <div class="form-group">
            <label for="logo">Business Logo</label>
            <img
                    id="logo-img"
                    [src]="business?.logo"
                    class="form-control img-thumbnail logo">

            <image-upload
            [max]="100"
            [preview]="false"
            [url]="'/upload/img'"
            [headers]="{Authorization: 'MyToken'}"
            [buttonCaption]="'Select Logo'"
            [dropBoxMessage]="'Drop your images here'"
            [extensions]="['jpg','png','gif']"
            [class]="'customClass'"
            (onFileUploadFinish)="imageFinishedUploading($event)"
            (onRemove)="imageRemoved($event)"
            (isPending)="uploadStateChange($event)">
            </image-upload>

            <input
                    type="text"
                    id="logo"
                    [ngModel]="business?.logo"
                    class="form-control"
                    formControlName="logo"
                    [hidden]="true">
        </div>

        <!--<div class="form-group">-->
            <!--<label for="password">Password</label>-->
            <!--<input-->
                    <!--type="password"-->
                    <!--id="password"-->
                    <!--[ngModel]="business?.password"-->
                    <!--class="form-control"-->
                    <!--formControlName="password">-->
        <!--</div>-->
        <div class="form-group">
            <label for="info">Business Info</label>
            <input
                    type="text"
                    id="info"
                    [ngModel]="business?.info"
                    class="form-control"
                    formControlName="info">
        </div>

        <!--ADD NEW CATEGORY-->
        <div class="form-group">
            <label for="categories">Categories</label>
            <div class="row">
                <div class="col-md-3">
                    <div class="input-group">
                <span class="input-group-btn">
                    <button
                            class="btn btn-secondary"
                            type="button"
                            (click)="addCategory(c.value)">+</button>
                </span>
                        <select
                                id="categories"
                                class="form-control"
                                [(ngModel)]="selectedCategory"
                                formControlName="selectedCategory"
                                #c >
                            <option *ngFor="let category of categories; let i=index" [value]="i">{{category.name}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <!--CATEGORIES LIST-->
            <ul class="categories-tag">
                <li *ngFor="let item of selectedCategories; let i=index" [value]="i">
                     <a class="btn btn-danger categories-tag-btn" (click)="removeCategory(i)">X</a>
                    <span>{{item.name}}</span>
                </li>
            </ul>

        </div>

        <!--SUBMIT-->
        <button
                class="btn btn-primary"
                type="submit"
                [disabled]="!businessForm.valid"
                [ngClass]="{'btn-danger': isFormChanged}">Submit</button>
    </form>


    <br>

    <!--<accordion>-->
        <!--<accordion-group heading="Edit Business Locations" isGroupOpen="true">-->

            <!--&lt;!&ndash;ADD NEW LOCATION&ndash;&gt;-->
            <!--<div class="form-group">-->
                <!--<label for="locations">Locations</label>-->
                <!--<div class="row">-->
                    <!--<div class="col-md-3">-->
                        <!--<button-->
                                <!--id="locations"-->
                                <!--class="btn btn-secondary"-->
                                <!--type="button"-->
                                <!--(click)="addLocation()">Add new address</button>-->

                    <!--</div>-->
                <!--</div>-->

                <!--&lt;!&ndash;LOCATIONS LIST&ndash;&gt;-->
                <!--<ul class="locations-tag">-->
                    <!--<li *ngFor="let location of business?.locations; let index=index;">-->
                        <!--<a class="btn btn-danger categories-tag-btn" (click)="removeLocation(index)">X</a>-->
                        <!--<span>{{business?.locations[index].country}}</span>-->
                        <!--<input-->
                                <!--id="locations-{{index}}"-->
                                <!--[(ngModel)]="business?.locations[index].country"-->
                                <!--name="locations-{{index}}"-->
                                <!--type="text"-->
                                <!--class="form-control"-->
                                <!--placeholder="Country"-->
                                <!--aria-label="Country">-->
                        <!--<input type="text" class="form-control" placeholder="City" aria-label="City" value={{location?.city}}>-->
                        <!--<input type="text" class="form-control" placeholder="Address Line 1" aria-label="Address Line 1" value={{location?.address_line_1}}>-->
                        <!--<input type="text" class="form-control" placeholder="Address Line 2" aria-label="Address Line 2" value={{location?.address_line_2}}>-->
                        <!--<input type="text" class="form-control" placeholder="Google maps link" aria-label="Google maps link" value={{location?.google_maps_url}}>-->
                    <!--</li>-->
                <!--</ul>-->

            <!--</div>-->


        <!--</accordion-group>-->
    <!--</accordion>-->

</div>