<div class="con-md-8 col-md-offset-2">
    <form [formGroup]="businessForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="title">Business Name</label>
            <input
                    type="text"
                    id="title"
                    [ngModel]="business?.title"
                    class="form-control"
                    formControlName="title">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input
                    type="text"
                    id="email"
                    [ngModel]="business?.email"
                    class="form-control"
                    formControlName="email"
                    disabled>
        </div>
        <div class="form-group">
            <label for="logo">Business Logo</label>
            <input
                    type="text"
                    id="logo"
                    [ngModel]="business?.logo"
                    class="form-control"
                    formControlName="logo">
        </div>
        <!--<div class="form-group">-->
            <!--<label for="password">Password</label>-->
            <!--<input-->
                    <!--type="password"-->
                    <!--id="password"-->
                    <!--[ngModel]="business?.password"-->
                    <!--class="form-control"-->
                    <!--formControlName="password">-->
        <!--</div>-->
        <div class="form-group">
            <label for="info">Business Info</label>
            <input
                    type="text"
                    id="info"
                    [ngModel]="business?.info"
                    class="form-control"
                    formControlName="info">
        </div>
        <button
                class="btn btn-primary"
                type="submit"
                [disabled]="!businessForm.valid">Submit</button>
    </form>
</div>