<div class="con-md-8 col-md-offset-2">
    <form [formGroup]="businessForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="title">Business Name</label>
            <input
                    type="text"
                    id="title"
                    [ngModel]="business?.title"
                    class="form-control"
                    formControlName="title">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input
                    type="text"
                    id="email"
                    [ngModel]="business?.email"
                    class="form-control"
                    formControlName="email"
                    readonly>
        </div>
        <div class="form-group">
            <label for="logo">Business Logo</label>
            <img
                    id="logo-img"
                    [src]="business?.logo"
                    class="form-control img-thumbnail logo">

            <image-upload
            [max]="100"
            [preview]="false"
            [url]="'/upload/img'"
            [headers]="{Authorization: 'MyToken'}"
            [buttonCaption]="'Select Logo'"
            [dropBoxMessage]="'Drop your images here'"
            [extensions]="['jpg','png','gif']"
            [class]="'customClass'"
            (onFileUploadFinish)="imageFinishedUploading($event)"
            (onRemove)="imageRemoved($event)"
            (isPending)="uploadStateChange($event)">
            </image-upload>

            <input
                    type="text"
                    id="logo"
                    [ngModel]="business?.logo"
                    class="form-control"
                    formControlName="logo"
                    [hidden]="true">
        </div>

        <!--<div class="form-group">-->
            <!--<label for="password">Password</label>-->
            <!--<input-->
                    <!--type="password"-->
                    <!--id="password"-->
                    <!--[ngModel]="business?.password"-->
                    <!--class="form-control"-->
                    <!--formControlName="password">-->
        <!--</div>-->
        <div class="form-group">
            <label for="info">Business Info</label>
            <input
                    type="text"
                    id="info"
                    [ngModel]="business?.info"
                    class="form-control"
                    formControlName="info">
        </div>
        <button
                class="btn btn-primary"
                type="submit"
                [disabled]="!businessForm.valid">Submit</button>
    </form>


    <!--<image-upload-->
            <!--[max]="100"-->
            <!--[preview]="false"-->
            <!--[url]="'/upload/img'"-->
            <!--[headers]="{Authorization: 'MyToken'}"-->
            <!--[buttonCaption]="'Select Logo'"-->
            <!--[dropBoxMessage]="'Drop your images here'"-->
            <!--[extensions]="['jpg','png','gif']"-->
            <!--[class]="'customClass'"-->
            <!--(onFileUploadFinish)="imageFinishedUploading($event)"-->
            <!--(onRemove)="imageRemoved($event)"-->
            <!--(isPending)="uploadStateChange($event)">-->
    <!--</image-upload>-->

</div>